.container {
    max-width: calc(1200px - 60px);
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.details {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.image {
    height: 450px;
    width: 55%;
    object-fit: contain;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 30px;
    border: 1px solid var(--main-gray-2);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 45%;
}

.info h2 {
    word-break: break-all;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.info p {
    word-break: break-all;
    margin-bottom: auto;
}

.author {
    display: flex;
    gap: 15px;
    margin: 20px 0;

    padding-bottom: 10px;

    border-bottom: 1px solid var(--main-gray-2);
}

.author .icon {
    width: 46px;
    height: 46px;
}

.author-info {
    font-size: 1.2rem;
}

.actions {
    display: flex;
}

.actions :first-child {
    margin-right: 20px;
}