.order-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 30px;
    max-width: 1200px;
}

.order-list > h3 {
    width: 100%;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-top: 50px;
}

.order-list .spinner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;}