.header-wrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
}

.header {
    font-weight: 700;
    width: 100%;
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Lobster', monospace;
}

.actions, .links, .right {
    display: flex;
    gap: 1.2rem;
    color: var(--main-gray);
}

.right {
    align-items: center;
}

.links a {
    transition: color 400ms;
}

.links a::after {
    content: '';
    background-color: var(--primary-black);
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    position: absolute;
    display: block;
}

.links a:hover {
    color: var(--primary-black);
}

.link a:hover:after {
    width: 70%;
}

.active {
    color: var(--primary-black);
    position: relative;
}

.links .active::after {
    width: 70%;
}

.link {
    color: var(--primary-black);
}

.hamburger {
    display: none;
}

@media screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .header-wrapper {
        transition: all 500ms;
        overflow: hidden;
    }
    
    .header-wrapper.open {
        height: 20rem;
    }
    
    .header-wrapper .header {
        flex-wrap: wrap;
        height: 20rem;
        align-items: baseline;
    }

    .header-wrapper .header .logo {
        height: 4rem;
        display: flex;
        align-items: center;
    }
    
    .header-wrapper .links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .header-wrapper .actions {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}