.form-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form {
    width: 450px;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 30px;
    border: 1px solid var(--main-gray-2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}

.form h4 {
    font-size: 1.6rem;
    padding: 20px 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.form form {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}

.form label {
    padding-left: 12px;
}

.form input {
    margin-bottom: 12px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px 16px;
}

.form input:focus, .form textarea:focus {
    outline: 1px solid gray;
}

.form textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 16px;
    resize: none;
    margin-bottom: 12px;
}

.form button {
    width: 50%;
    justify-content: center;
    cursor: pointer;

    margin-bottom: 20px;
}

.form p {
    font-size: 20px;
}

.form p a {
    text-decoration: underline;
}

.radio {
    margin-bottom: 20px;
}